ul
{
  width: 80px;
  height: 100%;
  background-color: #0E0016;
  margin:0;
  padding:0;
  float: left;
  list-style: none;
  box-shadow: 1px 0px 12px #000000;
  line-height: 30px; /* Magic number, same as margin-bottom: 15px; */
}

li
{
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #7305B2;
  line-height: 0;
}

li:hover
{
  width: 90px;
  cursor: pointer;
}

li:before /* 10px extrusion */
{
  position: relative;
  left: 80px;
  display:block;
  content:'';
  width: 10px;
  height: 80px;
  background-color: #600496;
}

li:after /* Below, corner fold */
{
  position: relative;
  left: 80px;
  top: 21px; /* Magic number */
  content:'';
  width: 0;
  height: 0;
	border-right: 10px solid transparent;
	border-top: 12px solid #2F0249;
}

/*li a
{
  position: relative;
  top: -80px;
  display: block;
  width: 90px;
  height: 80px;
}*/

.spect-bg
{
  background: url('app/images/spectrum.png') center no-repeat #600496;
}
.cass-bg
{
  background: url('app/images/cassette.png') center no-repeat #600496;
}